[submodule "deps/openvr"]
	path = deps/openvr
	url = https://github.com/ValveSoftware/openvr.git
	shallow = true
	ignore = dirty
[submodule "deps/linalg"]
	path = deps/linalg
	url = https://github.com/sgorsten/linalg.git
	shallow = true
	ignore = dirty
